{% extends 'base.html' %}

{% block content %}
<style type="text/css">
    body { 
        background: #181818f6 !important; 
    }

    .card:hover{
        transform: scale(1.10);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
        cursor: pointer;
    }

    .overflow-information{ 
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        width:150px; 
    }
 </style>

<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> TODO </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="toggleMobileMenu">
            <div class="navbar-nav text-center">
                <button class="btn btn-dark" type="button">
                    <a href="{% url 'todolist:create-task' %}" class = "text-white text-decoration-none">Create Task</a>
                </button>
                <button class="btn btn-dark" type="button">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#modalAdd" class = "text-white text-decoration-none">Add Task</a>
                </button>
                <button class="btn btn-dark" type="button">
                    <a href="{% url 'todolist:logout' %}" class = "text-white text-decoration-none">Logout</a>
                </button>
            </div>
        </div>
    </div>
</nav>

<div class="modal fade" id="modalAdd" tabindex="-1" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h4 class="text-white">Add Task</h4>
            </div>
            <div class="modal-body">
                <form method="POST" id="form">
                    {% csrf_token %}
                    <table class="my-5">  
                        <tr class="row">
                            <div class="form-floating mb-2">
                                <input type="text" id="floatingInput" placeholder="Title" name="title" class="form-control bg-dark text-white" style="width:50%;">
                                <label for="floatingInput" class="form-label text-white">Title</label>
                            </div>
                        </tr>
                        <tr class="row">
                            <div class="form-floating mb-2">
                                <input type="text" id="floatingInput" placeholder="Description" name="description" class="form-control bg-dark text-white" style="height:150px; width:50%;">
                                <label for="floatingInput" class="form-label text-white">Description</label>
                            </div>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" id="add" type="button">Add</button>
                <button class="btn btn-dark" id="close" type="button" data-bs-dismiss="modal">Close</button>
            </div>
        </div> 
    </div>
</div>

<div class="container" id="cards">

    
</div>

<script>
    async function getTodo() {
      return fetch("{% url 'todolist:json' %}").then((res) => res.json())
    }

    async function refreshTodo() {
        document.getElementById("cards").innerHTML = ""
        const todo = await getTodo()
        let htmlString = `
            <h1 class="text-center text-white my-3">Hello, {{user}}!</h1>
            <div class="row text-dark">
        `
        todo.forEach((item) => {
          htmlString += `\n<div class="col col-sm-12 col-md-6 col-lg-4 my-1">
            <div class="card text-center" style="width: 21rem;">
                <div class="card-header">
                    <h4 class="card-title"><b>${item.fields.title}</b></h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle text-muted">${item.fields.date}</p>
                    <p class="card-text overflow-information">${item.fields.description}</p>
                </div>
            </div>
        </div>` 
        })
        htmlString += `
            </div>
        `
        document.getElementById("cards").innerHTML = htmlString
  }

  function addTodo() {
    fetch("{% url 'todolist:add' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(document.getElementById("close").click()).then(refreshTodo)
    return false
  }
  
//   function deleteTodo() {
//     fetch('/todolist/delete/json/' + id, {
//             method: 'DELETE',
//         }).then(refreshTodo)
//     return false
//   }

  document.getElementById("add").onclick = addTodo
//   document.getElementById("delete").onclick = deleteTodo
  refreshTodo()
</script>

{% endblock content %}